.env
.DS_Store
encodings.pickle

dataset/*
!dataset/
!dataset/.gitkeep

exported_unknown_videos/*
!exported_unknown_videos/
!exported_unknown_videos/.gitkeep

./attendance_semana_*.csv
./attendance_completo_*.csv